.control {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
input {
  padding: 10px;
}
.chart {
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1px;
}

.chart-col {
  width: 1px;
  background: red;
}
.date {
  position: absolute;
  top: 283px;
}
